data/Das_forced_photometry
data/snii_lcs_WISE
data/ztf_alerce
data/dustmaps
*.python-version
*.DS_Store
.env
__pycache__/
.vscode/
model_fit_plots/
model_fit_plots_fixed_thick/
dusty/mcmc_test_workdir/
old/
data_old/
dusty_runs/
src/ll_typeiip.egg-info/
mcmc_logs/
mcmc_results/