data/Das_forced_photometry_files
data/ztf_snii_lcs_WISE
data/ztf_resdicts
*.python-version
*.DS_Store
.env
plots/
plot_sample/
plot_sample_2/
entire_sample/
entire_sample_wWISE/
entire_sample_wWISE_2/
entire_sample_wWISE_new/
dusty/dusty_runs/
dusty/dusty_run_test/
dustmaps_data/
__pycache__/
.vscode/
model_fit_plots/
model_fit_plots_fixed_thick/
dusty/mcmc_test_workdir/